* {
    box-sizing: border-box;
    margin: 0;
}
.App {
    text-align: center;
}

body {
    background-color: rgb(172, 243, 243, 0.5);
    width: 100vw;
    height: 100vh;
}

.header {
    background-color: rgb(17, 14, 201);
    color: #fff;
    font-size: 2rem;
    padding: 0.9em;
}

/* students section */
.studentLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1em;
    padding-top: 1.5em;
}

.studentLinks li {
    font-size: 1.3rem;
    list-style: none;
    line-height: 2em;
    width: 200px;
    border: 1px solid darkblue;
    border-radius: 15px;
    background-color: #71abf7;
}

.studentLinks a {
    color: white;
    text-decoration: none;
}

/* chart section */
.chartContainer {
    touch-action: none;
    padding-bottom: 3.5em;
}

.chartText {
    margin-top: 1.7em;
    font-size: 1.1em;
    display: flex;
    justify-content: space-evenly;
}

.labelChartTextFun {
    background-color: #ffae00;
    border-radius: 15px;
    width: 180px;
    padding: 8px;
}

.labelChartTextDif {
    background-color: #004dff;
    color: #fff;
    border-radius: 15px;
    width: 180px;
    padding: 8px;
}

.accent {
    accent-color: #f70a1a;
}
